
map{
    display:inline;
}

.nap-mav{
    width: 100%;
    background-color: #33cccc;
    text-align: center;
}

.destination-nav{
    width: 100%;
    text-align: center;
}

.top-banner {
  background-color: #33cccc;
  text-align: center;
  color: #f9f9f9;
  padding: 50px;
  font-size: 15px;

}

.main-content {
    width: 100%;
    height: 60%;
    text-align: center;
    background-color: #33cccc;
}

.form-content{
    width: 100%;
    text-align: center;
    background-color: #33cccc;
}

fieldset{
    width: 100%;
}

body {
  background-color: #33cccc;

}
.destination-nav {
 background-color: #f9f9f9;
    width: 100%;
    text-align: center;
}

.nav-footer {
  background-color:#33cccc ;
font-size: small;
text-align: center;
color: #f9f9f9;
}

#destinationHeader {
font-size: 25px;
text-align: center;

}


/*Style code for Bootstrap carousel image sliders on all destination pages*/
.carousel{
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel__image {
width: 100%;
}

.carousel__track-container {
    background: teal;
    padding: 10px;
}

/*Style code for Navigation dropdown bar*/
body {
    margin:0;
    font-family:Arial;
    }
    
    .top-row {
      overflow: hidden;
      background-color: #33cccc;
        width: 100%;
    }
    
    .top-row a {
        float: left;
        width: 100%;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .active {
      background-color: #33cccc;
    }
    
    .top-row .icon {
      display: none;
    }
    
    .destination-dropdown{
      overflow: hidden;
    }
    
    .destination-dropdown .ylabtn {
      font-size: 17px;    
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
    .destination-dropdown-content
    {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .destination-dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .top-row a:hover, .destination-dropdown:hover .ylabtn{
      background-color: #ffb366;
      color: white;
    }
    
    .destination-dropdown-content a:hover {
      background-color: #ffcc99;
      color: black;
    }
    
    .destination-dropdown:hover .destination-dropdown-content {
      display: block;
    }
    
    @media screen and (max-width: 600px) {
      .top-row a:not(:first-child), .destination-dropdown .ylabtn {
        display: none;
      }
      .top-row a.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 600px) {
      .top-row.responsive {position: relative;}
      .top-row.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .top-row.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
      .top-row.responsive .destination-dropdown {float: none;}
      .top-row.responsive .destination-dropdown-content {position: relative;}
      .top-row.responsive .destination-dropdown .ylabtn {
        display: block;
        width: 100%;
        text-align: left;
      }
    }
    
    /*Style for poll*/
    body { 
      font-size: 62.5%; 
      font-family: Georgia, serif;
    }
    h6 {
      font-size: 1.4em;
      margin-bottom: 15px;
    }
    a { color: #3CC4D3;}
    label, li {
      padding: 5px;
      font-size: 1.4em;
      color: #f2f2f2;
   
      legend {
        padding: 4px 6px 4px 6px;
        border: 1px solid ;
        font-size: 2.0em;
        color: #3cc4d3;
        font-style: italic;
      }
      fieldset {
        margin: 115px auto;
        width: 400px;
        border: 1px #3cc4d3
        }

       .Sightseeing, .Drinking, .Money
       {
        background-color: #3CC4D3; }

        
      #button-for-poll:hover
      {
        background-color: #ffb366;
    
        
      }

    /*Style for headings in destinations*/
    

    /*Style for TOP 3 */
    .top-three-to-do
    { color: #000000;
      font-size: 15px;
      text-align: center;
      }

    ol
    { text-align: center;

      color:  #3CC4D3;
      width:  10000em;
      margin-left: 91em
    }
    
    li {
      color: #000000;
      font-size: 15px;
    }

    h3, h4,p {
      text-align: center;
      font-size: 15px
    }

    .topthree {
      text-align: center;
    }

    #topthreelist {
      text-align: center;
      width: 100%;
    }
 
    #votebutton {
      color: black;


    }
